{
	"trailingComma": "none",
	"tabWidth": 2,
	"useTabs": true,
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"bracketSameLine": false,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid"
}
